absl-py==1.2.0
alabaster 
arrow 
astroid
asttokens 
astunparse==1.6.3
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall
backports.functools-lru-cache
bcrypt 
beautifulsoup4
binaryornot 
black 
bleach
brotlipy==0.7.0
cachetools==5.2.0
captionbot==0.1.5
certifi
cffi 
chardet
charset-normalizer==2.1.0
click==8.1.3
cloudpickle
colorama 
cookiecutter 
cryptography 
cycler==0.11.0
debugpy 
decorator 
defusedxml
diff-match-patch 
dill 
docutils 
entrypoints
et-xmlfile==1.1.0
executing 
fastjsonschema 
filelock==3.8.0
flake8 
Flask==2.1.3
flatbuffers==1.12
fonttools==4.34.4
gast==0.4.0
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
gunicorn==20.1.0
h5py 
huggingface-hub==0.9.1
idna 
imagesize
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==4.12.0
inflection==0.5.1
intervaltree 
ipykernel 
ipython 
ipython-genutils 
isort 
itsdangerous==2.1.2
jedi 
jellyfish 
Jinja2==3.1.2
jinja2-time 
joblib==1.1.0
jsonschema 
jupyter-client 
jupyter_core 
jupyterlab-pygments 
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring 
kiwisolver==1.4.4
lazy-object-proxy 
libclang==14.0.6
Markdown==3.4.1
MarkupSafe 
matplotlib==3.5.2
matplotlib-inline
mccabe 
mistune
mkl-fft==1.0.6
mkl-random 
mkl-service==2.4.0
mypy-extensions==0.4.3
nbclient 
nbconvert
nbformat 
nest-asyncio 
ngrok-api==0.8.0
nltk==3.7
numpy==1.23.3
numpydoc 
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
p5py==1.0.0
packaging 
pandas==1.4.3
pandocfilters 
paramiko 
parso 
pathspec 
pep517==0.13.0
pexpect 
pickleshare
Pillow==9.2.0
platformdirs
plotly==5.9.0
pluggy 
ply==3.11
poyo 
prompt-toolkit 
protobuf==3.19.4
psutil 
ptyprocess 
pure-eval 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle
pycparser 
pydocstyle
pyenchant==3.2.2
pyflakes 
Pygments 
pylint 
pyls-spyder==0.4.0
PyNaCl 
pyOpenSSL 
pyparsing 
PyQt5==5.15.7
PyQt5-sip 
PyQtWebEngine==5.15.4
pyrsistent
PySocks 
python-dateutil 
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify 
pytz 
pywin32==303
pywin32-ctypes 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
regex==2022.7.25
requests
requests-oauthlib==1.3.1
rope 
rsa==4.9
Rtree
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
sip 
six
sklearn==0.0
snowballstemmer 
sortedcontainers
soupsieve 
Sphinx 
sphinxcontrib-applehelp
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels
stack-data 
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
testpath 
text-unidecode
textdistance 
threadpoolctl==3.1.0
three-merge 
tinycss 
tokenizers==0.12.1
toml 
tomli
tomlkit
torch==1.12.1
tornado 
tqdm==4.64.0
traitlets
transformers==4.21.3
typing_extensions 
ujson 
Unidecode 
urllib3 
utils==1.0.1
watchdog
wcwidth 
webencodings==0.5.1
Werkzeug==2.2.1
whatthepatch
win-inet-pton
wincertstore==0.2
wrapt 
yapf 
zipp==3.8.1
